<h1> Links </h1>

<ul id='links'>
  <% @links.each do |link| %>
  <li>
    Title: <%= link.title %>
    URL: <%= link.url %>
  </li>
  <% end %>
</ul>


<h1> Tags </h1>
    <% @tags.each do |tag| %>
      <a href="../tag/<%= tag.tag_name %>"><%= tag.tag_name %></a>
      <% end %>
